<!-- Decks section start -->
<section id="vacantes">
    <div class="row mt-2">
        <div class="col-12">
            <div class="content-header">Vacantes</div>
            <p class="content-sub-header mb-1">Vacantes que serán publicadas.</p>
        </div>
        
    </div>
    <div class="row m-4">
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary btn-block">Agregar vacante</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="card">
                    <div class="card-content">
                        <img class="card-img-top img-fluid" src="assets/img/photos/05.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Coordinador de sistemas</h4>
                            <p class="card-text">Supervisar la correcta aplicación de mantenimiento de la Red LAN y WLAN, garantizar salud de los equipos de cómputo e
                            impresión, mantener la correcta operación de los servidores y sus servicios, óptimo funcionamiento de la comunicación
                            interna y externa, supervisión de proyectos.</p>
                        </div>
                    </div>
                    <div class="card-footer align-middle pt-0">
                        <div class="row text-center">
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <a href="javascript:;" class="info p-0">
                                    <i class="ft-user font-large-1 mr-2"></i>
                                </a>
                               
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <a href="javascript:;" class="success p-0">
                                    <i class="ft-edit-2 font-large-1 mr-2"></i>
                                </a>
                                
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <a href="javascript:;" class="danger p-0">
                                    <i class="ft-x font-large-1"></i>
                                </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
        </div>
       
       
      
        
      
       
      
                    
                </div>
            
</section>
<!-- Decks section end -->
