<!--Shopping cart starts-->
<section id="clientes">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Clientes</h4>
                </div>
                <div class="row m-4">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-primary btn-block">Agregar cliente</button>
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-body table-responsive">
                        <table class="table text-center m-0">
                            <thead>
                                <tr>
                                    <th>Imagen</th>
                                    <th>Nombre</th>
                                    <th>Contacto</th>
                                    <th>Calle</th>
                                    <th>Número</th>
                                    <th>Código postal</th>
                                    <th>Localidad</th>
                                    <th>Municipio</th>
                                    <th>Estado</th>
                                    <th>Teléfono</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><img src="assets/img/clientes/kitne.png" alt="product" style="height: 75px;"></td>
                                    <td>Kitne IT Solutions</td>
                                    <td>Ricardo Zaragoza</td>
                                    <td>Huejotzingo</td>
                                    <td>21</td>
                                    <td>72160</td>
                                    <td>La Paz</td>
                                    <td>Puebla</td>
                                    <td>Puebla</td>
                                    <td>2223329610</td>
                                    <td class="text-truncate">
                                        <a href="javascript:;" class="info p-0">
                                            <i class="ft-user font-medium-3 mr-2"></i>
                                        </a>
                                        <a href="javascript:;" class="success p-0">
                                            <i class="ft-edit-2 font-medium-3 mr-2"></i>
                                        </a>
                                        <a href="javascript:;" class="danger p-0">
                                            <i class="ft-x font-medium-3"></i>
                                        </a>
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Shopping cart ends-->
