<h3 class="m-4">Filtros</h3>
<!--Toggle panels Starts-->
<ngb-accordion #tacc="ngbAccordion">
  <ngb-panel id="toggle-1" title="Categorías">
    <ng-template ngbPanelContent>
      <ul class="m-1">
        <li>Sistemas</li>
        <li>Recursos humanos</li>
        <li>Finanzas</li>
        <li>Operativos</li>
      </ul>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="toggle-2" title="Salario">
    <ng-template ngbPanelContent>
      <ul class="m-1">
        <li>Sistemas</li>
        <li>Recursos humanos</li>
        <li>Finanzas</li>
        <li>Operativos</li>
      </ul>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="toggle-3" title="Estado">
    <ng-template ngbPanelContent>
      <ul class="m-1">
        <li>Sistemas</li>
        <li>Recursos humanos</li>
        <li>Finanzas</li>
        <li>Operativos</li>
      </ul>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="toggle-4" title="Fecha">
    <ng-template ngbPanelContent>
      <ul class="m-1">
        <li>Sistemas</li>
        <li>Recursos humanos</li>
        <li>Finanzas</li>
        <li>Operativos</li>
      </ul>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
<!--Toggle panels Ends-->
