<!--Shopping cart starts-->
<section id="categoria-vacantes">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Categorías para vacantes</h4>
                </div>

                <div class="row m-4">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-primary btn-block">Agregar categoría</button>
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-body table-responsive">
                        <table class="table text-center m-0">
                            <thead>
                                <tr>
                                    <th>Identificador</th>
                                    <th>Imagen</th>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td><img src="assets/img/clientes/kitne.png" alt="product" style="height: 75px;">
                                    </td>
                                    <td>Operarios</td>
                                    <td>Vacantes para operarios.</td>
                                    <td class="text-truncate">
                                        <a href="javascript:;" class="info p-0">
                                            <i class="ft-user font-medium-3 mr-2"></i>
                                        </a>
                                        <a href="javascript:;" class="success p-0">
                                            <i class="ft-edit-2 font-medium-3 mr-2"></i>
                                        </a>
                                        <a href="javascript:;" class="danger p-0">
                                            <i class="ft-x font-medium-3"></i>
                                        </a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Shopping cart ends-->

